* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: space-between;

   
}


.container {
    padding: 3em 5em 2em 1em;
    border: 2px solid black;
    width: 100%; 			
    display: flex;	
    flex-wrap: wrap;        	
    justify-content: space-between;	
    align-items: top;
}

.card {
    border: 2px solid red;
    display: flex;
    gap: 3em;
   width:33%
}