body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.site-container {
    padding: 0em 3em;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 3em;
    background: #1881B6;
    border: 0.2em solid black;
    border-radius: 1em;

}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2 2 66%;
    align-items: center;

}

.text-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;

}

.media-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.media {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.red-button {
    background-color: #B6416D;
    color: white;
    text-decoration: none;
    padding: 0.2em 0.7em;
    border-radius: 0.7em;
    border: 0.1em solid black;
}

.transperent-button {
    background-color: none;
    color: white;
    text-decoration: none;
    padding: 0.2em 0.7em;
    border-radius: 0.7em;
    border: 0.1em solid black;
}

.copy {
    text-indent:3em;
}