body{
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}

ul{
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

li{
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}
a{
    text-decoration: none;
    color:#ffffff ;
}

body{
    background-color: #CCCCCC;
    padding: 0px;
    margin: 0px;
}

.italic{
    font-style: italic;
}

p{
    font-size: 24px;
}
h1{
    font-size: 28px;
}

footer{
    background-color: #444;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;

}

