@media(max-width:600px){
    .home-left {
        display: none;
    }

    .home-full-width-banner.section-container {
        display: flex;
        flex-direction: column;
    }

    .home-cards-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .category-card-category-card {
        flex: 0 0 47%; 
        max-width: 100%; 
        margin-bottom: 20px;
    }
    
    .category-card-image {
        width: 100%;
        height: 200px; 
        object-fit: cover; 
        aspect-ratio: 1/1;
    }

    .home-left4 {
        padding: 2em 0;
    }

    .home-full-width-banner.section-container img {
        width: 100%;
        height: auto;
    }

    .blog-post-card-blog-post-card {
        max-width: 600px;
    }

    .blog-post-card-blog-post-card img {
        max-width: 100%;  
        height: auto;     
    }

    .home-links-container{
        
        display: flex;
        flex-direction: column;
    }

    .home-footer1{display: flex;
        flex-direction: column;
    }
.home-footer1{padding-top: 2em;
padding-bottom: 1em;}

.home-container09{
    order:1000;
    padding-top: 2em;
}
        
}